
<section class="py-5">
  <h1 class="lead"> <strong>Recipe Name</strong> </h1>
  <div class="list-group">
    <ul>
      <li class=" dropdown ">
        <a class=" dropdown-toggle btn btn-primary" href="#" id="navbardrop" data-toggle="dropdown">
          Manage Recipe
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">save data</a>
          <a class="dropdown-item" href="#">fetch data </a>
        </div>
      </li>
    </ul>

    <ul>
      <li class="list-group-item"> Description </li>
      <li class="list-group-item"> Ingredients </li>
    </ul>
  </div>
  
</section>
